body {
  height: 100vh;
  background-color: tan;
}

.all {
  display: grid;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 4fr 3fr 3fr 1fr;
  grid-template-areas:
    "head head head"
    "nav nav nav"
    "cat cat cat"
    "catimg1 catimg2 catimg3"
    "catimg4 catimg5 catimg6"
    "foot foot foot";
  /* gap: 1rem; */
  justify-items: center;
}
#head {
  grid-area: head;
  background-color: lightblue;
  padding: 0;
  font-size: 14px;
  width: 100%;
}

.title {
  font-size: 5rem;
  text-align: center;
}

#navbar {
  grid-area: nav;
  background-color: lightgreen;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  grid-template-areas: "link1 link2 link3 link4";
}

.links {
  display: inline-block;
  width: 24%;
  text-align: center;
  font-size: 1.5rem;
}

.link1 {
  grid-area: link1;
}
.link2 {
  grid-area: link2;
}
.link3 {
  grid-area: link3;
}
.link4 {
  grid-area: link4;
}

#catmain {
  grid-area: cat;
  background-color: lightpink;
  position: relative;
  top: 100px;
}
#catimg1 {
  grid-area: catimg1;
}
#catimg2 {
  grid-area: catimg2;
}
#catimg3 {
  grid-area: catimg3;
}
#catimg4 {
  grid-area: catimg4;
}
#catimg5 {
  grid-area: catimg5;
}
#catimg6 {
  grid-area: catimg6;
}

footer {
  grid-area: foot;
}
.footer {
  display: inline-block;
  width: 100%;
  background-color: lightyellow;
  padding: 0 60% 0;
  font-size: 2rem;
}
